
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Bayon&family=Cinzel+Decorative:wght@700&family=Cinzel:wght@500&family=Italianno&family=Julius+Sans+One&family=Merriweather:ital,wght@1,300&family=Monoton&family=Nanum+Myeongjo:wght@700;800&family=Nunito+Sans:ital,wght@0,300;1,300&family=Ovo&family=Paytone+One&family=Rampart+One&family=Red+Hat+Display&family=Roboto&family=Rubik+Beastly&family=Sarabun:wght@300&family=Sora:wght@300&family=Syncopate&display=swap');

body {
  background: linear-gradient(to right,#a01a58, #892b64, #723c70,#5c4d7d, #455e89, #2e6f95, #1780a1) 0% 0% / cover fixed; 
  color: rgb(255, 255, 255);    
} 


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width:30%;
  border-radius: 25px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.baner {
  
}


#btn-connect  {
  background-color: #003566;
  position: fixed;
  padding: 15px 21px;
  top: 40px;
  right: 70px;   
  border-radius: 30px;  
  font-size: 18px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#btn-disconnect { 
  background-color: #003566;
  position: fixed;
  top: 40px;
  right: 70px;   
  padding: 15px 21px;
  border-radius: 30px; 
  font-size: 18px;    
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#cooperantProfile {
  font-size: 18px;  
}


.button {
  border: none;
  background-color: #003566;
  padding: 15px 21px;
  position: fixed;
  top: 40px;
  left: 60px;  
  border-radius: 30px;
  font-size: 18px;    
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.button__progress {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background:rgba(0,0,0,0.2);
  transition: width 0.3s;
  border-radius: 30px;
}

.button__text {
  position:relative;
}

#deposit_kg {
  color:black;
  width: 5%;
}

#deposit_raspberry {
  border: none;
  background-color: #003566;
  padding: 15px 21px; 
  position: relative;
  bottom: -60px;
  right: 200px;
  border-radius: 30px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.button__progress_deposit {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background:rgba(0,0,0,0.2);
  transition: width 0.3s;
  border-radius: 30px;
}

.button__text_deposit {
  position:relative;
}

  
#addToken {
  border: none;
  background-color: #003566;
  font-size:  14px;
  padding: 32x 16px;
  position: absolute;
  left: 490px;
  bottom: 105px;
  border-radius: 7px;
  visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#furitsInWarhouse {
  display: inline;
  position: absolute;
  left: 220px;
  bottom: 25px;
}


h1 {
  background-image: linear-gradient(to right,#1780a1, #0091ad,#1780a1, #2e6f95, #455e89, #5c4d7d, #723c70, #892b64, #a01a58, #892b64, #723c70,#5c4d7d, #455e89, #2e6f95, #2e6f95, #1780a1, #0091ad,#1780a1 ); 
  background-size: 400%;
  font-size: 55px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-position: left;
  animation: animatedText 25s infinite;
  font-family: 'Nunito Sans', sans-serif;
}

@keyframes animatedText {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}


